body{
  background-color: black;

  cursor: none;
}

#displayText{
  color: green;
  font-family: monospace;
  font-size: 1.25em;
  color:green;
  text-shadow: 0 0 0 gray;
}

#shellContainer{
  color: green;
  font-family: monospace;
  font-size: 1.25em;
  color:green;
  text-shadow: 0 0 0 gray;
}

#shell{
  padding-left: 0;
  background-color: black;
  border: none;
  color: green;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-shadow: 0 0 0 gray;
  font-family: monospace;
  font-size: 1em;
  height: 1em;
  width:40em;
}

#shell:focus {
    outline: none;
}
